
#slider ul{

  position: relative;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
#slider li{
  position: absolute;
  /*position: fixed;*/
  left: 50%;
  margin-left: -450px;
}
#slider li> img{
  width: 900px;
  height: 300px;
}
#sliderbtnleft{
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 300px;
  width: 40px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(0,0,0,0.2);

}
#sliderbtnright{
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 300px;
  width: 40px;
  margin-left: +860px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(0,0,0,0.2);
}
#news{
  background-color: #fff;
  display: inline-block;
  width:65%;
  margin-top:310px;
  margin-left: 1%
}

#news h1{
  font-size: 20px;
  font-family: Arial;
  margin: 5px 6px;
}
#news p{
  font-size: 16px;
  font-family: Arial;
  margin: 11px 11px;
}

#twitter{
  margin-top:310px;
  width: 32%;
  margin-right: : 1%;
  display: inline-block;
  float: right;
}
