body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 47px;
  font-family: sans-serif;
}
button:focus {outline:0;}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #333;
}

#navbar li {
  float: left;
}

#navbar li a:hover {
  background-color: #111;
}

#navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;*/
  /*display: inline-block;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  /*width: 100%;*/
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0);
}

#banner{
  text-align: center;
}

.icon{
  width: 35px;
  float: left;
  margin-right: 10px;
}
