#slider ul{
  position: relative;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

}
#slider li{
  position: absolute;
  left: 50%;
  margin-left: -450px;
}
#slider li> img{
  width: 900px;
  height: 300px;
}
#sliderbtnleft{
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 300px;
  width: 40px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(0,0,0,0.2);

}
#sliderbtnright{
  position: absolute;
  z-index: 1;
  left: 50%;
  height: 300px;
  width: 40px;
  margin-left: +860px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: rgba(0,0,0,0.2);
}
#news{
  position: relative;
  background-color: #fff;
  display: inline-block;
  width:63%;
  margin-top:310px;
  padding: 0;
  margin-left: 3%;

}

#news h2{
  font-family: Arial;
  margin: 5px 6px;
}
#news p{
  font-size: 120%;
  font-family: Arial;
  margin: 11px 11px;
}

#twitter{
  margin-top:310px;
  width: 30%;
  padding: 0;
  margin-right: 3%;
  display: inline-block;
  float: right;
  height: 600px;

}

#comparison{
  position: relative;
  padding: 0;
  margin-left: 3%;
  list-style-type: none;
  float: left;
  list-style-type: none;
  overflow: visible;
  width: 100%;
}

.offer{
  margin-right: 10px;
  background-color: #fff;
  display: inline;
  width: 27%;
  float: left;
  padding: 20px 30px;
  height: 225px;
}

.offer hr{
  width: 100%;
  margin-left: 0;
  margin-top : -10px;
}
.price{
  position:absolute;
  bottom:10%;
  font-size: 18px;
  text-align: center;
  padding: 14px 16px;;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #16bbf2;
  cursor: pointer;

}
