table{
    border-collapse: collapse;
}
td{
  padding: 10px;
    border: 1px solid black;
}
table a{
  font-size: 1.05em;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #16bbf2;
  cursor: pointer;
}

input[type=text]{
  margin: 15px 2px;
  height: 2.2em;
  width: 50em;
}

input[type=submit]{
  border: none;
  font-size: 1.05em;
  text-align: center;
  padding: 10px 12px;;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #16bbf2;
  cursor: pointer;
}
