body{
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 47px;
  font-family: sans-serif;
  background-color: #ebebeb;
  color:#292F33;
}

#navbar ul {
  z-index: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: #BBBBBB;
}

#navbar li {
  float: left;
  background-color: #5CC3F2;
}

#navbar li a:hover {
  background-color: #23A6D7;
}

#networks li a{
  padding: 0 !important;
}
#networks li a:hover, #networks li{
  background-color: #BBBBBB ;
}

#navbar ul {
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li a {
  display: block;
  color: #292F33;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Le bouton du dropdown : ressemble aux liens classiques */
.dropbtn {
  background-color: #5CC3F2;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Dropdown Content (caché par défaut) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5CC3F2;
  width: inherit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Liens dans le dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
}

/* Montrer le dropdown-content au survolage du bouton */
.dropdown:hover .dropdown-content {
  display: block;
}

/* le dropdown-content est montré : changer la couleur de fond du bouton */
.dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0);
}

#banner{
  text-align: center;
}

.icon{
  vertical-align: center;
  width: 32px;
  float: left;
  margin-top:4px;
  margin-left: 5px;
  padding: 3px;
}

#footer{
  position:relative;
  bottom:0;
  width:100%;
  background-color: #BBBBBB;
  margin-top : 30px;
  margin-bottom: 0;
}

.clear{
  clear:both;
}
#footer a{
  margin-left: 10px;
  text-decoration: none;
  text-decoration: underline;
  color: white;
}
